@import "bootstrap";

/* General application styles */
#main_wrapper{
  width:980px;
  border: 1px solid #E8E8E8;
  margin: 0 auto 0 auto;
  padding: 20px;
}

#debug{
  margin-top: 40px;
}

.flash{

}